<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            background-color: lightgrey;
            max-width: 400px;
            padding: 20px;
        }
        
        div {
            margin-bottom: 10px;
        }
        
        h3 {
            color: tomato;
        }
        
        label {
            display: block;
        }
        
        textarea {
            display: block;
        }
    </style>
</head>

<body>
    <div id="app">

        <h4>Nama : {{member.name}}</h4>
        <h4>Alamat : {{member.address}}</h4>
        <h4>No HP : {{member.no_hp}}</h4>
        <h3>Data member</h3>
        <ul>
            <li v-for="member in members" :key="member.id">{{member.name}}
                <button @click="showMember(member.id)">Tampilkan</button>
                <button @click="editData(member.id)">Edit data</button>
                <button @click="deleteData(member.id)">Hapus</button>
            </li>
        </ul>



        <hr>

        <h3 v-if="edit==false">Tambah data</h3>
        <h3 v-if="edit==true">Edit data</h3>

        <form action="" @submit.prevent="submitForm()">
            <div>
                <label for="">Nama</label>
                <input type="text" name="" v-model="name">
            </div>

            <div>
                <label for="">Alamat</label><input type="text" name="" v-model="address">
            </div>

            <div>
                <label for="">No. HP</label><input type="text" name="" v-model="no_hp">
            </div>
            <button type="submit" v-if="edit==false">Tambahkan</button>
            <button type="button" v-if="edit==true" @click="updateData(idedit)">Perbarui</button>
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        var api = axios.create({
            baseURL: 'http://demo-api-vue.sanbercloud.com/api/member',
        })

        var vm = new Vue({
            el: '#app',
            data: {
                idedit: null,
                edit: false,
                name: "",
                address: "",
                no_hp: "",
                message: "Belajar Axios",
                members: [],
                member: {},
                checked: false,
                // name: "Arif Hidayat",
                title: "",
                description: "",
                errors: []
            },

            methods: {


                // getAll: function() {

                // axios.get('http://demo-api-vue.sanbercloud.com/api/member')
                //     .then((res) => {
                //         this.members = res.data.members
                //         console.log(this.members);
                //     })
                //     .catch((err) => {
                //         console.log(err);
                //     })
                //     .then(function() {});

                // },

                editData: async function(id) {
                    try {
                        this.idedit = id,
                            this.edit = true;
                        const config = {
                            method: "get",
                            url: "/" + id
                        };

                        const res = await api(config)
                        this.member = res.data.member;


                        this.name = this.member.name;
                        this.address = this.member.address;
                        this.no_hp = this.member.no_hp;
                        // this.address = member.address;
                        // this.no_hp = member.no_hp;

                        // console.log(this.member.name);


                    } catch (error) {

                    }

                },


                updateData: async function() {
                    try {
                        let formData = new FormData();
                        formData.append('name', this.name);
                        formData.append('address', this.address);
                        formData.append('no_hp', this.no_hp);
                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member/" + this.idedit,
                            params: {
                                _method: 'PUT'
                            },
                            data: formData
                        };
                        const res = await axios(config)
                        console.log(res.data);
                        this.getAll();


                    } catch (error) {

                    }
                },



                submitForm: async function() {

                    try {
                        let formData = new FormData();
                        formData.append('name', this.name);
                        formData.append('address', this.address);
                        formData.append('no_hp', this.no_hp);
                        const config = {
                            method: "post",
                            url: "",
                            data: formData
                        };
                        const res = await api(config)
                        console.log(res.data);
                        this.getAll();


                    } catch (error) {

                    }
                },


                deleteData: async function(id) {

                    try {
                        const config = {
                            method: "delete",
                            url: "/" + id
                        };


                        const res = await api(config)
                        console.log(res.data);
                        this.getAll();


                    } catch (error) {

                    }
                },

                getAll: async function() {

                    try {
                        const config = {
                            method: "get",
                            url: ""
                        };
                        const res = await api(config)
                        this.members = res.data.members;
                        console.log(res.data);
                        this.clearForm()

                    } catch (error) {

                    }

                },

                showMember: async function(id) {
                    try {
                        const config = {
                            method: "get",
                            url: "/" + id
                        };

                        const res = await api(config)
                        this.member = res.data.member;

                        console.log(res.data);


                    } catch (error) {

                    }
                    console.log(id);

                },


                addMember: async function() {
                    try {
                        const config = {
                            method: "post",
                            url: "/"
                        };

                        const res = await api(config)
                        this.member = res.data.member;

                        console.log(res.data);


                    } catch (error) {

                    }
                    console.log(id);

                },

                clearForm: function() {
                    this.name = "";
                    this.address = "";
                    this.no_hp = "";
                    this.edit = false;
                    this.idedit = null;
                }




            },

            created() {
                this.getAll()
            }
        })
    </script>
</body>


</html>